.layoutMainPageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

@media (width: 320px) {
  .layoutMainPageContainer {
    flex-direction: column;
  }
}
